@model EmoteLogUser
@{
    ViewData["Title"] = "Profile";
}

<h1>Welcome, @Model.UserName</h1>
<p>This is relatively bare bones at this point, but that's because I ended up redoing it all in a day.</p>

<h1>Read your logs!</h1>
<a asp-controller="Log" asp-action="Journal" asp-route-userId="@Model.Id" class="btn btn-primary">Journal</a>

<h1>Add an entry!</h1>
<a asp-controller="Log" asp-action="NewEntry" asp-route-userId="@Model.Id" class="btn btn-primary">New Entry</a>

